{% extends "main.html" %} {% block head_content %}
<title>Dashboard Destacamento</title>
{% endblock %} {% block container %} {% load static %}
<div class="col-lg-12">

    <!-- Widgets  -->
    <div class="row">

    </div>
    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-center"><strong>Grupo:</strong>Pioneros</h5>
            <div class="col-lg-2 col-md-6">
                <div class="stat-icon dib text-danger">
                    <i class="fa fa-video-camera"></i>
                </div>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="col-lg-9">
                    <div class="">
                        <div class="card-body">
                            <img class="card-img-top" src="/media/webcam/fhs.jpg" alt="Card image cap" style="height: 426px;">
                            <div class="card-body">
                                <h6 class="card-title mb-3">Santiago Hinestroza Sanclemente
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" style="    overflow: scroll;
                width: 256px;
                height: 476px;">
                    <div class="card mb-4 box-shadow">

                        <div class="card-body">
                            <img class="card-img-top" src="/media/webcam/6.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Santiago Himenez
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                            <img class="card-img-top" src="/media/webcam/5.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Isballe Hinestroza
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                            <img class="card-img-top" src="/media/webcam/4.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Andrea Mendoza
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                            <img class="card-img-top" src="/media/webcam/3.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Yire Alejandra Parra
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                            <img class="card-img-top" src="/media/webcam/2.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Maria Torres
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                            <img class="card-img-top" src="/media/webcam/1.jpg" alt="Card image cap">
                            <div class="">
                                <h6 class="card-title mb-2" style="font-size: 12px;
                                line-height: 2;">Michel Morroquil
                                    <i class="fa fa-video-camera"></i>
                                    <i class="fa fa-volume-up"></i>
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib text-warning">
                            <i class="fa fa-comments-o"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">....</div>
                                <div class="stat-heading">Mensajes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib text-secondary">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">0</div>
                                <div class="stat-heading"> pantallas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib text-success">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">3</span></div>
                                <div class="stat-heading">Comandantes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib text-primary">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">20</span></div>
                                <div class="stat-heading">Pioneros</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    </div>
   </div>


{% endblock %}